<<<<<<< HEAD
.headerContainer{
    display: flex;
    background-color: #000000;
    justify-content: space-between;
}

.headerRight{
    display: flex;
}

.logo{
    padding: 10px;
}

.headerNav{
    display: flex;
   
}

h2{
    color: #ffffff;
    padding: 10px;
    font-size: 24px;
    justify-content: space-around;
}

.headerSocialMedia{
    display: flex;
    padding: 35px;
}
=======
.container {
}

.logo-header {
}

.lista-icones {
}
>>>>>>> 73d7d096a0a031d356f436ccb3be6a3d70b787a1
